<%- include('../partials/adminHead') %>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%- include('../partials/adminspinner') %>

        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('../partials/adminsidebar') %>

        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../partials/adminnavbar') %>

            <!-- Navbar End -->


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add Brands</h6>
                            <form id="brandForm" action="/admin/addbrand" method="post"
                                onsubmit="checkForm(event)" enctype="multipart/form-data">

                                <div class="mb-3">
                                    <input id="brand" name="name" style="width: 70%;" type="text" placeholder=""
                                        aria-label="default input example" required>



                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            <% brands.forEach(function(brand) { %>
                                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                                    <span>
                                        <%= brand.name %>
                                    </span>
                                    <form id="brandForm<%= brand._id %>" action="/admin/delete-brand/<%= brand._id %>" method="post">
                                        <button class="delete-btn" style="background-color:#009CFF; border: 0cap; border-radius: 5px; size: 8cm;" type="button" data-id="<%= brand._id %>">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            <% }); %>



                        </div>
                    </div>
                    <!-- Form End -->
                   


                    <!-- Footer Start -->
                    <div class="container-fluid pt-4 px-4">
                        <div class="bg-light rounded-top p-4">
                            <div class="row">
                                <div class="col-12 col-sm-6 text-center text-sm-start">
                                    &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                                </div>
                                <div class="col-12 col-sm-6 text-center text-sm-end">
                                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer End -->
                </div>
                <!-- Content End -->


                <!-- Back to Top -->
                <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
            </div>

            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="lib/chart/chart.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/tempusdominus/js/moment.min.js"></script>
            <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
            <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
       
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
       document.getElementById('brandForm').addEventListener('submit', function(event) {
  event.preventDefault();

  let name = document.getElementById('brand').value;

  fetch('/admin/addBrand', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: 'name=' + encodeURIComponent(name),
  })
  .then(response => response.json())
  .then(data => {
    console.log(data);
    // The page will reload after the server responds
    location.reload();
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});


            $(document).on('click', '.delete-btn', function(e) {
        e.preventDefault();

        const brandId = $(this).data('id');

        Swal.fire({
            title: 'Are you sure?',
            text: "You are about to delete this brand",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form
                $('#brandForm' + brandId).submit();
            }
        });
    });
        </script>
        
        
</body>

</html>