<%- include('../partials/adminHead') %>


<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%- include('../partials/adminspinner') %>
        
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('../partials/adminsidebar') %>

        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../partials/adminnavbar') %>
           
            <!-- Navbar End -->


            <!-- Form Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        ...................
                    </div> -->

            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Edit Product</h6>
                <form action="/admin/updateproduct/<%= product._id %>" method="post"
                    onsubmit="checkForm(event)" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="brand" class="form-label">Brand</label>
                        <select id="brand" name="brand" class="form-select mb-3" required>
                            <% brands.forEach(function(brand) { %>
                                <option value="<%= brand._id %>" <%=brand._id.toString()==product.brand._id.toString()
                                    ? 'selected' : '' %>><%= brand.name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="productName" class="form-label">Product Name</label>
                        <input id="productName" name="productname" class="form-control mb-3" type="text" placeholder=""
                            value="<%= product.productname %>" aria-label="default input example" required>
                    </div>
                    <!-- Add similar updates for the rest of the form fields -->


                    <div class="form-floating">
                        <textarea class="form-control" name="description" placeholder="Details" id="floatingTextarea" style="height: 150px;">
                            <%= product.description %>
                        </textarea>
                        <label for="floatingTextarea">Product description</label>
                    </div>
                    
                    <div>
                        <select class="form-select mb-3" name="category" style="margin-top: 3%;"
                            value="<%= product.category %>" aria-label=".form-select-lg example" required>
                            <option value="Mens">Mens</option>
                            <option value="Womens">Womens</option>
                            <option value="Unisex">Unisex</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="regularPrice" class="form-label">Regular Price</label>
                        <input id="regularPrice" name="regularprice" class="form-control mb-3"
                            value="<%= product.regularprice %>" type="number" placeholder=""
                            aria-label="default input example" required>
                    </div>
                    <div class="mb-3">
                        <label for="offerPrice" class="form-label">Offer Price</label>
                        <input id="offerPrice" name="saleprice" class="form-control mb-3" type="number"
                            value="<%= product.saleprice %>" placeholder="" aria-label="default input example" required>
                    </div>
                    <div class="mb-3">
                        <label for="offerPrice" class="form-label">Number of items</label>
                        <input id="offerPrice" name="number" class="form-control mb-3" type="number"
                            value="<%= product.number%>" placeholder="" aria-label="default input example" required>
                    </div>

                    <div class="mb-3">
                        <label for="formImage" class="form-label">Images</label>
                        <% product.images.forEach(function(image, index) { %>
                            <div>
                                <img src="<%= image %>" alt="Product Image" style="width: 100px; height: 100px; object-fit: scale-down;" >
                                <button type="button" data-index="<%= index %>" data-product-id="<%= product._id %>"
                                    onclick="deleteImage(this)">Delete</button>


                            </div>
                            <% }); %>
                                <input class="form-control" type="file" id="formImage" name="images" multiple>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>





        </div>
    </div>
    <!-- Form End -->


    <!-- Footer Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Admin/lib/chart/chart.min.js"></script>
    <script src="/Admin/lib/easing/easing.min.js"></script>
    <script src="/Admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/Admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/Admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/Admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/Admin/js/main.js"></script>
    <!-- <script>
        function checkForm(e) {
          let inputs = document.getElementsByTagName('input');
          for(let i=0; i<inputs.length; i++) {
            if (!inputs[i].value.trim()) {
              e.preventDefault();
              alert('Please fill out the form completely');
              return;
            }
          }
        }
        </script> -->
    <script>
        function deleteImage(button) {
            var index = button.getAttribute('data-index');
            // Get the product ID dynamically
            var productId = button.getAttribute('data-product-id');

            fetch('/admin/deleteimage/' + productId + '/' + index, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // Refresh the page after deleting the image
                    window.location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }


    </script>
</body>

</html>