<%- include('../partials/adminHead') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%- include('../partials/adminspinner') %>
        
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('../partials/adminsidebar') %>

        <!-- Sidebar End -->
     

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../partials/adminnavbar') %>
           
            <!-- Navbar End -->


            <!-- Form Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        ...................
                    </div> -->

            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Edit Product</h6>
                <form action="/admin/updateproduct/<%= product._id %>" method="post"
                    onsubmit="checkForm(event)" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="brand" class="form-label">Brand</label>
                        <select id="brand" name="brand" class="form-select mb-3" required>
                            <option value="" disabled selected>Select</option>
                            <% brands.forEach(function(brand) { %>
                                <option value="<%= brand._id %>" <%= product.brand && brand._id.toString() == product.brand._id.toString() ? 'selected' : '' %>><%= brand.name %>
                                </option>
                            <% }); %>
                        </select>
                        
                        
                    </div>
                    <div class="mb-3">
                        <label for="productName" class="form-label">Product Name</label>
                        <input id="productName" name="productname" class="form-control mb-3" type="text" placeholder=""
                            value="<%= product.productname %>" aria-label="default input example" required>
                    </div>
                    <!-- Add similar updates for the rest of the form fields -->


                    <div class="form-floating">
                        <textarea class="form-control" name="description" placeholder="Details" id="floatingTextarea" style="height: 150px;">
                            <%= product.description %>
                        </textarea>
                        <label for="floatingTextarea">Product description</label>
                    </div>
                    
                    <div>
                        <select class="form-select mb-3" name="category" style="margin-top: 3%;"
                            value="<%= product.category %>" aria-label=".form-select-lg example" required>
                            <option value="Mens">Mens</option>
                            <option value="Womens">Womens</option>
                            <option value="Unisex">Unisex</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="regularPrice" class="form-label">Regular Price</label>
                        <input id="regularPrice" name="regularprice" class="form-control mb-3"
                            value="<%= product.regularprice %>" type="number" placeholder=""
                            aria-label="default input example" required>
                    </div>
                    <div class="mb-3">
                        <label for="offerPrice" class="form-label">Offer Price</label>
                        <input id="offerPrice" name="saleprice" class="form-control mb-3" type="number"
                            value="<%= product.saleprice %>" placeholder="" aria-label="default input example" required>
                    </div>
                    <div class="mb-3">
                        <label for="offerPrice" class="form-label">Number of items</label>
                        <input id="offerPrice" name="number" class="form-control mb-3" type="number"
                            value="<%= product.number%>" placeholder="" aria-label="default input example" required>
                    </div>

                    <div class="mb-3">
                        <label for="formImage" class="form-label">Images</label>
                        <% product.images.forEach(function(image, index) { %>
                            <div>
                                <img src="<%= image %>" alt="Product Image" style="width: 100px; height: 100px; object-fit: scale-down;">
                                <button type="button" class="delete-button btn btn-outline-danger" data-index="<%= index %>" data-product-id="<%= product._id %>"
                                    onclick="deleteImage(this)">Delete</button>
                            </div>
                        <% }); %>
                        <input style="margin-top: 3%;" type="file" id="image" class="image" multiple>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
            </div>

          



        </div>
        
    </div>
    <!-- Form End -->
   <style type="text/css">
            img {
                display: block;
                max-width: 100%;
            }
            .preview {
                overflow: hidden;
                width: 160px; 
                height: 160px;
                margin: 10px;
                border: 1px solid red;
            }
            
        </style>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Crop image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <div class="row">
                            <div class="col-md-8">
                                <img id="imagePreview">
                            </div>
                            <div class="col-md-4">
                                <div class="preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="crop">Crop</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Start -->
   
    <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Admin/lib/chart/chart.min.js"></script>
    <script src="/Admin/lib/easing/easing.min.js"></script>
    <script src="/Admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/Admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/Admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/Admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js" integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Template Javascript -->
    <script src="/Admin/js/main.js"></script>
    <!-- <script>
        function checkForm(e) {
          let inputs = document.getElementsByTagName('input');
          for(let i=0; i<inputs.length; i++) {
            if (!inputs[i].value.trim()) {
              e.preventDefault();
              alert('Please fill out the form completely');
              return;
            }
          }
        }
        </script> -->
    <script>
        function deleteImage(button) {
            var index = button.getAttribute('data-index');
            // Get the product ID dynamically
            var productId = button.getAttribute('data-product-id');

            fetch('/admin/deleteimage/' + productId + '/' + index, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // Refresh the page after deleting the image
                    window.location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }


    </script>
    <script>
        var bs_modal = $('#modal');
        var imageElement = document.getElementById('image');
        var imagePreview = document.getElementById('imagePreview');
        var cropper, reader, files;
    
        $("body").on("change", "#image", function(e) {
            files = e.target.files;
    
            if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                    bs_modal.modal('show');
                };
                reader.readAsDataURL(files[0]);
            }
        });
    
        bs_modal.on('shown.bs.modal', function() {
            cropper = new Cropper(imagePreview, {
                aspectRatio: 1,
                viewMode: 3,
                preview: '.preview'
            });
        }).on('hidden.bs.modal', function() {
            cropper.destroy();
            cropper = null;
        });
    
        $("#crop").click(function() {
            var canvas = cropper.getCroppedCanvas({
                width: 530, // Set the width
                height: 518, // Set the height
            });
            canvas.toBlob(function(blob) {
                var reader = new FileReader();
                reader.onloadend = function() {
                    var base64data = reader.result;
    
                    // Create a new hidden input field for the cropped image
                    var input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'croppedImage';
                    input.value = base64data;
    
                    // Append the hidden input field to the form
                    document.querySelector('form').appendChild(input);
    
                    // Remove the processed file from the file list
                    files = Array.from(files);
                    files.shift();
                    if (files.length > 0) {
                        // Load the next image
                        reader = new FileReader();
                        reader.onload = function(e) {
                            imagePreview.src = e.target.result;
                            cropper.replace(e.target.result);
                        };
                        reader.readAsDataURL(files[0]);
                    } else {
                        // Close the modal if there are no more images
                        bs_modal.modal('hide');
                    }
                };
                reader.readAsDataURL(blob);
            });
        });
    
        function validateForm() {
            // Get the value of the croppedImage input field
            var croppedImage = document.querySelector('input[name="croppedImage"]').value;
            // If no images have been cropped, prevent form submission
            console.log("cropped img::::" + croppedImage);
            if (!croppedImage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please crop images before submitting.',
                })
                return false;
            }
    
            return true;
        }
    </script>
</body>

</html>