


  <%- include('../partials/adminHead') %>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->


        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('../partials/adminsidebar') %>

        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../partials/adminnavbar') %>

            <!-- Navbar End -->


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                
                <!-- Content End -->

            <div class="container-fluid">
                <form action="/admin/updateCoupon" method="post" style="width: 70%; height: 70%;">
                    <h4>Edit coupon</h4>
                    <div class="mb-3" >
                        <label for="couponCode" class="form-label">Coupon Code:</label>
                        <input type="text" class="form-control" value="<%= coupon.code %>" id="couponCode" name="code" placeholder="Enter coupon code" oninput="this.value = this.value.toUpperCase()" required>
                    </div>
                    <% if(coupon.discount_type === 'amount') { %>
                        <div class="mb-3">
                          <label for="discountValue" class="form-label">Minimum Discount Amount:</label>
                          <input type="number" min="0" class="form-control" value="<%= coupon.discount_value %>"  id="discountValue" name="discount_value" placeholder="Enter discount amount" required>
                        </div>
                      <% } else if(coupon.discount_type === 'percentage') { %>
                        <div class="mb-3">
                          <label for="discountValue" class="form-label">Percentage of Offer:</label>
                          <input type="number" min="0" class="form-control" value="<%= coupon.discount_value %>" id="discountValue" name="discount_value" placeholder="Enter percentage of offer" required>
                        </div>
                      <% } %>
                      
                    <div class="mb-3" >
                        <label for="maxDiscount" class="form-label">Maximum Discount Amount:</label>
                        <input type="number"  min="0" class="form-control" value="<%= coupon.max_discount %>" id="maxDiscount" name="max_discount" placeholder="Enter maximum discount" required>
                    </div>
                    <div class="mb-3">
                        <label for="minOrderValue" class="form-label">Minimum Order Value:</label>
                        <input type="number"  min="0" class="form-control" value="<%= coupon.min_amount %>" id="minOrderValue" name="min_amount" placeholder="Enter minimum order value" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="validFrom" class="form-label">Valid From:</label>
                        <input type="datetime-local"  class="form-control" value="<%= coupon.startDate.toISOString().substring(0, 16) %>" name="startDate" id="validFrom" required>
                    </div>
                    <div class="mb-3">
                        <label for="validUntil" class="form-label">Valid Until:</label>
                        <input type="datetime-local" class="form-control" value="<%= coupon.expiry_date.toISOString().substring(0, 16) %>" name="expiry_date" id="validUntil" required>
                    </div>
                    <div class="modal-footer">
                
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
                
                <!-- Back to Top -->
                <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
            </div>

            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="lib/chart/chart.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/tempusdominus/js/moment.min.js"></script>
            <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
            <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
       
 
        
        
</body>

</html>