<%- include('../partials/adminHead') %>


<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%- include('../partials/adminspinner') %>

        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <%- include('../partials/adminsidebar') %>

        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('../partials/adminnavbar') %>

            <!-- Navbar End -->


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">



                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Manage Orders</h6>
                        
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th scope="col">Id</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">User</th>
                                            <th scope="col">Order Status</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Order Actions</th>
                                            <th scope="col">More Details</th>

                                           


                                    <tbody>
                                        <% orders.forEach((order)=> { %>
                                            <tr>
                                                <td><%= order._id.toString().slice(-4) %></td>
                                                <td><%= order.date.toISOString().split('T')[0] %></td>
                                                <td><%= order.user.first_name %> <%= order.user.last_name %></td>
                                                <td>
                                                    <% if (order.is_delivered) { %>
                                                    <p class="btn btn-success m-2"> Delivered </p>
                                                    <% } else if (order.user_cancelled) { %>
                                                    <p class="btn btn-danger m-2"> User Cancelled</p>
                                                    
                                                    <% } else if (order.admin_cancelled) { %>
                                                       <p class="btn btn-danger m-2">   Admin Cancelled</p>
                                                    <% } else if (order.is_returned) { %>
                                                       <p class="btn btn-warning m-2">   Returned</p>
                                                       
                                                    <% } else { %>
                                                        <p class=" btn btn-info m-2">Pending</p>   
                                                    <% } %>
                                                </td>
                                                <td><%= order.total %></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="orderStatusDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-order-id="<%= order._id %>">
                                                            Select Status
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="orderStatusDropdown">
                                                            <li><a class="dropdown-item" href="#">Pending</a></li>
                                                            <li><a class="dropdown-item" href="#">Delivered</a></li>
                    
                                                            <li><a class="dropdown-item" href="#">Admin Cancelled</a></li>
                                                            <li><a class="dropdown-item" href="#">Returned</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>
                                                  
                                                   <a href="/admin/vieworder/<%= order._id %>"><button type="button" class="btn btn-outline-info m-2">View More</button></a>

                                                </td>
                                                
                                            </tr>
                                        <% }) %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Admin/lib/chart/chart.min.js"></script>
    <script src="/Admin/lib/easing/easing.min.js"></script>
    <script src="/Admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/Admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/Admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/Admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/Admin/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
 $(".dropdown-item").click(function(e) {
    e.preventDefault();
    var status = $(this).text(); // Get the status from the clicked item
    var orderId = $(this).closest('.dropdown').find('button').data('order-id'); // Get the order ID from the data attribute
    var url = "/admin/change-order-status/" + orderId; // Update the URL// Update the URL

    swal({
        title: "Are you sure?",
        text: "You are about to change the status to: " + status,
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willChange) => {
        if (willChange) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    status: status
                },
                success: function(response) {
                    swal("Status has been changed!", {
                        icon: "success",
                    });
                    location.reload();

                },
                error: function(xhr, ajaxOptions, thrownError) {
                    swal("Error changing status!", {
                        icon: "error",
                    });
                }
            });
        } else {
            swal("Status change cancelled!");
        }
    });
});


</script>
    
</body>

</html>