<%- include('../partials/adminHead') %>

    <body>
        <div class="container-xxl position-relative bg-white d-flex p-0">
            <!-- Spinner Start -->
            <%- include('../partials/adminspinner') %>

                <!-- Spinner End -->


                <!-- Sidebar Start -->
                <%- include('../partials/adminsidebar') %>

                    <!-- Sidebar End -->


                    <!-- Content Start -->
                    <div class="content">
                        <!-- Navbar Start -->
                        <%- include('../partials/adminnavbar') %>

                            <!-- Navbar End -->


                            <div class="col-sm-12 col-xl-10">
                                <div class="bg-light rounded h-100 p-4">
                                    <h4 class="mb-4">Home Page Settings</h4>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        New Banner
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Add banner</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/admin/addBanner" method="post"
                                                        enctype="multipart/form-data">
                                                        <div class="col-md-12">
                                                            <div class="card mb-10">
                                                                <div class="card-body">
                                                                    <div>
                                                                        <label class="" for="">Main Description</label>
                                                                        <input type="text" name="mainDescription"
                                                                            class="form-control">
                                                                        <label class="" for="">Description</label>
                                                                        <input type="text" name="description"
                                                                            class="form-control">

                                                                        <label for="defaultFormControlInput"
                                                                            class="form-label">Banner Image</label>
                                                                        <input type="file" class="form-control"
                                                                            accept="image/png, image/jpeg, image/jpg"
                                                                            placeholder="Image" name="image"
                                                                            aria-describedby="defaultFormControlHelp" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Add</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="margin-top: 3%;">
                                        <div class="table-responsive text-nowrap">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Banner Image</th>
                                                        <th>Main Description</th>
                                                        <th>Description 2</th>
                                                        <th></th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">

                                                    <% banners.forEach(function(banner){%>
                                                        <tr>

                                                            <td><img height="auto" width="120px" src="<%=banner.image%>"
                                                                    alt=""></td>
                                                            <td>
                                                                <%=banner.mainDescription%>
                                                            </td>
                                                            <td>
                                                                <%=banner.description%>
                                                            </td>
                                                            <td><a href="#" class="btn btn-info" data-bs-toggle="modal"
                                                                    data-bs-target="#editModal">Edit</a></td>

                                                            <td><button class="btn btn-danger"
                                                                    onclick="deleteBanner('<%=banner._id%>')">Delete</button>
                                                            </td>

                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <!-- Edit Modal -->
                                    <div class="modal fade" id="editModal" tabindex="-1"
                                        aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Edit Banner</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="editForm" action="/admin/updateBanner" method="post"
                                                        enctype="multipart/form-data">
                                                        <input type="hidden" id="editId" name="id">
                                                        <div class="mb-3">
                                                            <label for="editMainDescription" class="form-label">Main
                                                                Description</label>
                                                            <input type="text" id="editMainDescription"
                                                                name="mainDescription" class="form-control">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="editDescription" class="form-label">Description
                                                                2</label>
                                                            <input type="text" id="editDescription" name="description"
                                                                class="form-control">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="editImage" class="form-label">Banner
                                                                Image</label>
                                                            <input type="file" id="editImage" class="form-control"
                                                                accept="image/png, image/jpeg, image/jpg" name="image"
                                                                required>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary"
                                                        onclick="document.getElementById('editForm').submit();">Save
                                                        changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="padding-bottom: 30%; width: 40%; margin-top: 10%;">
                                        <h6 style="margin-top: 3%;">OFFER BANNER :</h6>
                                        <% coupons.forEach(function(coupon){ %>
                                            <div class="form-check" style="margin: 5%;">
                                              <input class="form-check-input" type="radio" name="coupon" id="<%= coupon._id %>" value="<%= coupon._id %>" onclick="switchCoupon('<%= coupon._id %>')" <%= coupon.display_home ? 'checked' : '' %>>
                                              <label class="form-check-label" for="<%= coupon._id %>">
                                                <%= coupon.code %>
                                              </label>
                                            </div>
                                          <% }) %>
                                          
                                    </div>

                                </div>
                            </div>





                    </div>




        </div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/chart/chart.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
            integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(document).ready(function () {
                $('.btn-info').click(function () {
                    const row = $(this).closest('tr');
                    const id = row.find('button.btn-danger').attr('onclick').split("'")[1];
                    const mainDescription = row.find('td:nth-child(2)').text();
                    const description = row.find('td:nth-child(3)').text();

                    $('#editId').val(id);
                    $('#editMainDescription').val(mainDescription);
                    $('#editDescription').val(description);
                });
            });

            function deleteBanner(id) {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this banner!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            fetch('/admin/deletebanner/id=' + id, {
                                method: 'DELETE',
                            })
                                .then(response => response.json())
                                .then(data => {
                                    swal("Poof! Your banner has been deleted!", {
                                        icon: "success",
                                    });
                                    location.reload()
                                })
                                .catch((error) => {
                                    console.error('Error:', error);
                                });
                        } else {
                            swal("Your banner is safe!");
                        }
                    });
            }




            // Get the selected coupon id
            function switchCoupon(couponId) {
  swal({
    title: "Are you sure?",
    text: "You are about to change the displayed coupon.",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  })
  .then((willChange) => {
    if (willChange) {
      fetch('/admin/select-coupon', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ couponId }),
      })
      .then(response => response.text())
      .then(data => {
        console.log(data);
        swal("Coupon selected successfully!", {
          icon: "success",
        });
        location.reload()
      })
      .catch((error) => {
        console.error('Error:', error);
        swal("Error occurred while selecting coupon.", {
          icon: "error",
        });
      });
    } else {
      swal("Your action has been cancelled.");
    }
  });
}


        </script>



    </body>

    </html>