<%- include('../partials/head') %>


<!-- Header part end-->
<%- include('../partials/navbar') %>
  <!--================Checkout Area =================-->

 


  <section style="background-color: #ffffff; margin-top: 5%;">
    <div >
     
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"> <%= user.first_name + " " + user.last_name %></h5>
             <div class="d-flex justify-content-center mb-2">
 
    <div class="btn-group" role="group" style="gap: 3%;">
      <button type="button"  style="margin-right: 1%;" class="btn btn-outline-primary btn-edit">Edit Profile</button>
      <button type="button" class="btn btn-outline-primary btn-order">My orders</button>
      
  </div>
</div>
<div class="d-flex justify-content-center mb-2">
    <a href="/logout"><button type="button" class="btn btn-outline-dark">logout</button></a>
</div>
<button data-toggle="modal"  class="btn_3" data-target="#addressModal">CLICK TO ADD NEW ADDRESS</button>

<!-- Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressModalLabel">Add New Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="row contact_form" action="/addAddress" method="post" novalidate="novalidate">
          <input type="hidden" name="redirect" value="/account">
            <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="first" name="first_name" placeholder="First name" />
                
            </div>
            <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="last" name="last_name" placeholder="Last name"/>
                
            </div>

            <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="number" name="phone" placeholder="Phone number"/>
               
            </div>


            <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add1" name="address1" placeholder="Address line 01"/>
               
            </div>
            <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add2" name="address2" placeholder="Address line 02"/>
              
            </div>
            <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="city" name="city" placeholder="Town/City"/>
               
            </div>
            <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="district" name="district" placeholder="District"/>
                
            </div>
            <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="state" name="state" placeholder="State"/>
               
            </div>

            <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="zip" name="pin"
                    placeholder="Postcode/ZIP" />
            </div>

           <button style="margin-left: auto; margin-right: auto;" class="tp_btn" type="submit">ADD NEW ADDRESS </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>

  
</div>

            </div>
          </div>
          
        </div>

        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <% if(user.address && user.address.length > 0) { %>
                <% user.address.forEach(function(address) { %>
                  <a style="margin-left: 80%;">delete</a>
                    <p><%= address.first_name %> <%= address.last_name %></p>
                    <p><%= address.phone %></p>
                    <p><%= address.address1 %></p>
                    <p><%= address.address2 %></p>
                    <p><%= address.district %></p>
                    <p><%= address.state %></p>
                    <p><%= address.pin %></p>
                    <hr>
                <% }); %>
            <% } else { %>
                <p>No addresses available.</p>
            <% } %>
            
             
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  
 
  <!--::footer_part end::-->

  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="/user/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/user/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/user/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/user/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/user/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/user/js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/user/js/owl.carousel.min.js"></script>
  <script src="/user/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/user/js/slick.min.js"></script>
  <script src="/user/js/jquery.counterup.min.js"></script>
  <script src="/user/js/waypoints.min.js"></script>
  <script src="/user/js/contact.js"></script>
  <script src="/user/js/jquery.ajaxchimp.min.js"></script>
  <script src="/user/js/jquery.form.js"></script>
  <script src="/user/js/jquery.validate.min.js"></script>
  <script src="/user/js/mail-script.js"></script>
  <script src="/user/js/stellar.js"></script>
  <script src="/user/js/price_rangs.js"></script>
  <!-- custom js -->
  <script src="/user/js/custom.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}

// document.querySelector('.btn-outline-primary').addEventListener('click', function() {
//     fetch('/myorders') // Replace with your myorders route
//         .then(response => response.json())
//         .then(data => {
//             // Assuming data is an object containing user's order details
//             // Update the div with new data
//             document.querySelector('.card-body').innerHTML = `
//                 <div class="row">
//                     <div class="col-sm-3">
//                         <p class="mb-0">Order ID</p>
//                     </div>
//                     <div class="col-sm-9">
//                         <p class="text-muted mb-0">${data.orderId}</p>
//                     </div>
//                 </div>
//                 <hr>
//                 <div class="row">
//                     <div class="col-sm-3">
//                         <p class="mb-0">Product Name</p>
//                     </div>
//                     <div class="col-sm-9">
//                         <p class="text-muted mb-0">${data.productName}</p>
//                     </div>
//                 </div>
//                 // Add more fields as needed
//             `;
//         })
//         .catch(error => {
//             // Handle error
//             console.error(error);
//         });
// });

$(".btn-order").click(function(e) {
    e.preventDefault();
    $.get("/myorder", function(data) {
        $(".col-lg-8").html(data);
    });
});

  </script>

</body>

</html>