<%- include('../partials/head') %>


<!-- Header part end-->
<%- include('../partials/navbar') %>
  <!--================Checkout Area =================-->

 


  <section style="background-color: #ffffff; margin-top: 5%;">
    <div class="container py-5">
     
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"> <%= user.first_name + " " + user.last_name %></h5>
             <div class="d-flex justify-content-center mb-2">
    <button type="button" style="margin-right: 1%;" class="btn btn-primary">Edit Profile</button>
    <button type="button" class="btn btn-outline-primary ms-1">My orders</button>
</div>
<div class="d-flex justify-content-center mb-2">
    <a href="/logout"><button type="button" class="btn btn-outline-dark">logout</button></a>
</div>

            </div>
          </div>
          
        </div>

        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
             
             
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.email %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.phone %></p>
                </div>
              </div>
              
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.address.address1+" "+user.address.address2 %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Pincode</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.address.pincode %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">City</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.address.city %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">State</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.address.state %></p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  
 
  <!--::footer_part end::-->

  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="/user/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/user/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/user/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/user/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/user/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/user/js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/user/js/owl.carousel.min.js"></script>
  <script src="/user/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/user/js/slick.min.js"></script>
  <script src="/user/js/jquery.counterup.min.js"></script>
  <script src="/user/js/waypoints.min.js"></script>
  <script src="/user/js/contact.js"></script>
  <script src="/user/js/jquery.ajaxchimp.min.js"></script>
  <script src="/user/js/jquery.form.js"></script>
  <script src="/user/js/jquery.validate.min.js"></script>
  <script src="/user/js/mail-script.js"></script>
  <script src="/user/js/stellar.js"></script>
  <script src="/user/js/price_rangs.js"></script>
  <!-- custom js -->
  <script src="/user/js/custom.js"></script>
  <script>
    function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}

// document.querySelector('.btn-outline-primary').addEventListener('click', function() {
//     fetch('/myorders') // Replace with your myorders route
//         .then(response => response.json())
//         .then(data => {
//             // Assuming data is an object containing user's order details
//             // Update the div with new data
//             document.querySelector('.card-body').innerHTML = `
//                 <div class="row">
//                     <div class="col-sm-3">
//                         <p class="mb-0">Order ID</p>
//                     </div>
//                     <div class="col-sm-9">
//                         <p class="text-muted mb-0">${data.orderId}</p>
//                     </div>
//                 </div>
//                 <hr>
//                 <div class="row">
//                     <div class="col-sm-3">
//                         <p class="mb-0">Product Name</p>
//                     </div>
//                     <div class="col-sm-9">
//                         <p class="text-muted mb-0">${data.productName}</p>
//                     </div>
//                 </div>
//                 // Add more fields as needed
//             `;
//         })
//         .catch(error => {
//             // Handle error
//             console.error(error);
//         });
// });


  </script>

</body>

</html>