<%- include('../partials/head') %>
  <!-- Header part end-->
  <%- include('../partials/navbar') %>

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->

    <!-- breadcrumb start-->

    <!--================Cart Area =================-->
    <section class="h-100 h-custom" style="background-color: #ffffff; margin-top: 3%;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>


                        <h6 class="mb-0 text-muted">
                          <%= cart.items.length %> items
                        </h6>
                      </div>
                      <% if (messages.error) { %>
                        <div class="alert alert-danger" id="errorMessage">
                          <%= messages.error %>
                        </div>
                        <% } %>
                          <% cart.items.forEach(function(item) { %>
                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                              <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src="<%= item.productId.images[0] %>" class="img-fluid rounded-3"
                                  alt="Cotton T-shirt">
                              </div>
                              <div class="col-md-3 col-lg-3 col-xl-3">
                                <h6 class="text-muted">
                                  <%= item.productId.brand.name %>
                                </h6>
                                <h6 class="text-black mb-0">
                                  <%= item.productId.productname %>
                                </h6>
                              </div>
                              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button class="btn btn-link px-2 decrement-button">
                                  <i class="fas fa-minus"></i>
                                </button>

                                <h6 id="form1" name="quantity" class="form-control form-control-sm">
                                  <%= item.quantity %>
                                </h6>

                                <button class="btn btn-link px-2 increment-button">
                                  <i class="fas fa-plus"></i>
                                </button>
                              </div>



                              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h6 class="mb-0">₹ <%= item.productId.saleprice %>
                                </h6>
                              </div>
                              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <a href="#" class="remove-from-cart text-muted" data-id="<%= item.productId._id %>"><i
                                    class="fas fa-times"></i></a>

                              </div>

                            </div>

                            <% }); %>






                              <div class="pt-5">
                                <h6 class="mb-0"><a href="/products" class="text-body"><i
                                      class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                              </div>
                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-4">
                        <h3>Items in cart: <%= cart.items.length %>
                        </h3>
                      </div>





                      <h5 class="text-uppercase mb-3">Give code</h5>

                      <div class="mb-5">
                        <div class="form-outline">
                            <input type="text" id="couponCode" class="form-control form-control-lg" />
                            <div>
                                <label style="padding: 1%;" class="form-label" for="couponCode">Enter your code</label>
                                <a style="margin-top: 2%;" class="btn_1" href="#" onclick="applyCoupon(event)">Apply</a>
                            </div>
                        </div>
                    </div>
                    

                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-2">
                        <h6 class="text-uppercase">Total price</h6>
                        <h5 class="priceChange"> ₹ <%= cart.total %>
                        </h5>
                      </div>
                     
                      <div class="d-flex justify-content-between mb-3">
                        <h6 class="text-uppercase">Coupon discount</h6>
                        <h5 style="color: red;" class="couponDiscount">
                          <% if (cart.discount > 0) { %>
                            - ₹ <%= cart.discount.toFixed(2) %>
                          <% } %>
                        </h5>
                         
                        </h5>
                      </div>
                      <hr class="my-4">
                      <div class="d-flex justify-content-between mb-5">
                        <h6 class="text-uppercase">Grand Total</h6>
                        <h5 class="gtotal"> <%= cart.grandTotal %>
                        </h5>
                      </div>

                      <a class="btn_1 checkout_btn_1" href="/checkout">Proceed to checkout</a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================-->

    <!--::footer_part start::-->


    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/user/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/user/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/user/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/user/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/user/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/user/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/userjs/slick.min.js"></script>
    <script src="/userjs/jquery.counterup.min.js"></script>
    <script src="/userjs/waypoints.min.js"></script>
    <script src="/userjs/contact.js"></script>
    <script src="/userjs/jquery.ajaxchimp.min.js"></script>
    <script src="/userjs/jquery.form.js"></script>
    <script src="/userjs/jquery.validate.min.js"></script>
    <script src="/userjs/mail-script.js"></script>
    <script src="/userjs/stellar.js"></script>
    <script src="/userjs/price_rangs.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/user/js/cartscript.js"></script>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.4/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      setTimeout(function () {
        var element = document.getElementById('errorMessage');
        if (element) {
          element.style.display = 'none';
        }
      }, 4000);
    </script>

    </html>