<%- include('../partials/head') %>
    <!-- Header part end-->
    <%- include('../partials/navbar') %>
<section class="confirmation_part padding_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Thank you. Your order has been received.</span>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>order info</h4>
            <ul>
              <li>
                <p>Order number:</p><span> <%= order._id %></span>

              </li>
             
              <li>
                <p>Payment Method: </p><span><%= order.paymentMethod ? order.paymentMethod : 'COD' %></span>
              </li>
              <li>
                <p>Date & time: </p><span> <%= date %></span>

              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-lx-4">
            <div class="single_confirmation_details">
                <h4>Shipping Address</h4>
                <p>
                    Name: <%= selectedAddress.first_name+" " %> <%= selectedAddress.last_name %><br>
                    Phone: <%= selectedAddress.phone %><br>
                    Address : <%= selectedAddress.address1+" " %> <%= selectedAddress.address2 %><br>
                    District: <%= selectedAddress.district %><br>
                    State: <%= selectedAddress.state %><br>
                    Pin: <%= selectedAddress.pin %>
                </p>
            </div>
        </div>
        
        
        
        
      
        
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Order Details</h3>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% order.items.forEach(function(item) { %>
                        <tr>
                            <th colspan="2"><span><%= item.productId.productname %></span></th>
                            <th>x<%= item.quantity %></th>
                            <th> <span>$<%= item.productId.saleprice * item.quantity %></span></th>
                            
                        </tr>
                    <% }); %>
                    <tr>
                        
                        <th colspan="3">Subtotal</th>
                        <th> <h4>₹<%= order.total %></h4></th>
                    </tr>
                    <tr>
                      <th colspan="3">Coupon</th>
                      <th> <h4 style="color: red;">- ₹<%= order.discount %></h4></th>
                    </tr>
                    <% if (order.paymentMethod === 'Wallet') { %>
                      
                      <tr>
                        <th colspan="3">Grand Total</th>
                        <th><h4>₹<%= order.total - order.discount %></h4></th>
                      </tr>
                    <% } else { %>
                      <tr>
                        <th colspan="3">Wallet</th>
                        <th><h4  style="color: red;">- ₹<%= order.total - order.discount-order.grandTotal %></h4></th>
                      </tr>
                      <tr>
                        <th colspan="3">Grand Total</th>
                        <th><h4>₹<%= order.grandTotal %></h4></th>
                      </tr>
                    <% } %>
                  
                </tbody>
                
            </table>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('../partials/footer') %>
  <script>
    window.history.forward();  

window.onbeforeunload = function() {  // This will prevent the user from refreshing the page
  return "Do you want to leave?";
};

  </script>