<%- include('../partials/head') %>


<!-- Header part end-->
<%- include('../partials/navbar') %>
<div style="padding-top: 10%; padding-left: 5%;">
    <a style="height: 30px; width: 50px; " href="/account"><button style="border: none; background-color: white; "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>Back</button></a>
 </div>


<div class="container" style="margin-top: 2%;">
    <form class="row contact_form" action="/updateaddress/<%= userId %>/address/<%= addressId %>" method="post" novalidate="novalidate">
        <input type="hidden" name="redirect" value="/account">
          <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="first" name="first_name" placeholder="First name"  value="<%= address.first_name %>"/>
              
          </div>
          <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="last" name="last_name" placeholder="Last name" value="<%= address.last_name %>"/>
              
          </div>
    
          <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="number" name="phone" placeholder="Phone number" value="<%= address.phone %>"/>
             
          </div>
    
    
          <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="add1" name="address1" placeholder="Address line 01"  value="<%= address.address1 %>"/>
             
          </div>
          <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="add2" name="address2" placeholder="Address line 02" value="<%=address.address2 %>"/>
            
          </div>
         
          <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="district" name="district" placeholder="District" value="<%= address.district  %>"/>
              
          </div>
          <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="state" name="state" placeholder="State" value="<%= address.state  %>"/>
             
          </div>
    
          <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="zip" name="pin"
                  placeholder="Postcode/ZIP" value="<%= address.pin  %>"/>
          </div>
    
         <button style="margin-left: auto; margin-right: auto;" class="tp_btn" type="submit">UPDATE ADDRESS </button>
      </form>
</div>