<%- include('../partials/head') %>


<!-- Header part end-->
<%- include('../partials/navbar') %>
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                        <% banners.forEach(function(banner){ %>
                            <div class="single_banner_slider">
                                <div class="row">
                                    <div class="col-lg-5 col-md-8">
                                        <div class="banner_text">
                                            <div class="banner_text_iner">
                                                <h1><%= banner.mainDescription %></h1>
                                                <p><%= banner.description %></p>
                                                <a href="/products" class="btn_2">buy now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="banner_img d-none d-lg-block">
                                        <div style="height: 357px; width: 100%;">
                                            <img src="<%= banner.image %>" alt="Your Image" style="height: 100%; width: auto;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- banner part start-->

    <!-- feature_part start-->
    <section class="feature_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>Featured Brands</h2>
                    </div>
                </div>
            </div>
            <section class="client_logo ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <% brands.forEach(function(brand) { %>
                                <div class="single_client_logo">
                                    <a href="/products/brand/<%= brand._id %>">
                                        <img style="object-fit: scale-down;" src="<%= brand.brandImage %>" alt="<%= brand.name %>">
                                    </a>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div> 
            </section>
            
        </div>
    </section>

    <style>
        @media (max-width: 576px) {
          .offer_img {
            display: flex;
            justify-content: center;
          }
        }
        </style>
        
    <section class="our_offer section_padding" style="margin-top: 5%;">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6">
                    <div class="offer_img">
                        <img width="50%" height="90%" src="\user\img\product\pngwing.com.png" alt="">
                    </div>
                </div>
                <% if(coupon) { %>
                <div class="col-lg-6 col-md-6">
                    <div class="offer_text">
                        <% if(coupon.discount_type === 'amount') { %>
                            <h2>OFF upto ₹ <%= coupon.max_discount %> for purchase above ₹ <%= coupon.min_amount %></h2>
                          <% } else if(coupon.discount_type === 'percentage') { %>
                            <h2><%= coupon.discount_value %>% Off for purchase above ₹ <%= coupon.min_amount %></h2>
                          <% } %>
                          
                        
                            <div class="coupon_code" style="display: flex; padding-top: 2%;" >
                                <input style="border: none; height: 60px; text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" type="text" value="<%= coupon.code %>" id="couponCode" readonly>
                                <button class="input-group-text btn_2"  onclick="copyCouponCode()">Copy Code</button>
                              </div>
                              <div class="date_countdown">
                                <div id="timer">
                                  <div id="days" class="date"></div>
                                  <div id="hours" class="date"></div>
                                  <div id="minutes" class="date"></div>
                                  <div id="seconds" class="date"></div>
                                </div>
                              </div>
                              
                       
                    </div>
                </div>
                <% } else { %>
                    <!-- Code to execute when coupon is not found -->
                    <div class="col-lg-6 col-md-6">
                        <h2>OFFERS COMMING SOON...</h2>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
    <!-- awesome_shop part start-->

    <!-- product_list part start-->
    <section class="product_list best_seller" style="margin-top: 2%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                  <div class="best_product_slider owl-carousel">
                    <% mostOrderedProductsDisplay.forEach((product) => { %>
                      <div class="single_product_item">
                        <a href="/viewproduct/<%= product._id %>">
                            <img src="<%= product.images[0] %>" alt="watch" style="object-fit:scale-down"; height="300px">
                        </a>
                        <div class="single_product_text">
                          <h4><%= product.productname %></h4>
                          <h3>$<%= product.saleprice %></h3>
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </div>
              </div>
              
              
              
              
        </div>
    </section>
    <!-- product_list part end-->

    <!-- subscribe_area part start-->
    <section class="subscribe_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="subscribe_area_text text-center">
                        <h5>Join Our Newsletter</h5>
                        <h2>Subscribe to get Updated
                            with new offers</h2>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter email address"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text btn_2" id="basic-addon2">subscribe now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::subscribe_area part end::-->

    <!-- subscribe_area part start-->
    
    <!--::subscribe_area part end::-->

    <!--::footer_part start::-->
    <%- include('../partials/footer') %>
    
    <!--::footer_part end::-->
  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="/user/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/user/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/user/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/user/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/user/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/user/js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/user/js/owl.carousel.min.js"></script>
  <script src="/user/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/user/js/slick.min.js"></script>
  <script src="/user/js/jquery.counterup.min.js"></script>
 
<script src="/user/js/jquery.downCount.js"></script>

  <script src="/user/js/waypoints.min.js"></script>
  <script src="/user/js/contact.js"></script>
  <script src="/user/js/jquery.ajaxchimp.min.js"></script>
  <script src="/user/js/jquery.form.js"></script>
  <script src="/user/js/jquery.validate.min.js"></script>
  <script src="/user/js/mail-script.js"></script>
  <script src="/user/js/stellar.js"></script>
  <script src="/user/js/price_rangs.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <!-- custom js -->
  <script src="/user/js/custom.js"></script>
  <script>
$(document).ready(function() {
  // Get the expiry date from the server
  var expiryDate = "<%= coupon ? coupon.expiry_date : '' %>";
  $('#timer').downCount({
    date: expiryDate,
    offset: +5.5
  });

  function makeTimer() {
    // Use the expiryDate for the endTime
    var endTime = new Date(expiryDate);
    endTime = (Date.parse(endTime) / 1000);

    var now = new Date();
    now = (Date.parse(now) / 1000);

    var timeLeft = endTime - now;

    var days = Math.floor(timeLeft / 86400);
    var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
    var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
    var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

    if (hours < "10") { hours = "0" + hours; }
    if (minutes < "10") { minutes = "0" + minutes; }
    if (seconds < "10") { seconds = "0" + seconds; }

    $("#days").html("<span>Days</span>" + days);
    $("#hours").html("<span>Hours</span>" + hours);
    $("#minutes").html("<span>Minutes</span>" + minutes);
    $("#seconds").html("<span>Seconds</span>" + seconds);
  }

  // click counter js
  (function() {
    window.inputNumber = function(el) {
      var min = el.attr('min') || false;
      var max = el.attr('max') || false;
      var els = {};
      els.dec = el.prev();
      els.inc = el.next();

      el.each(function() {
        init($(this));
      });

      function init(el) {
        els.dec.on('click', decrement);
        els.inc.on('click', increment);

        function decrement() {
          var value = el[0].value;
          value--;
          if(!min || value >= min) {
            el[0].value = value;
          }
        }

        function increment() {
          var value = el[0].value;
          value++;
          if(!max || value <= max) {
            el[0].value = value++;
          }
        }
      }
    }
  })();

  inputNumber($('.input-number'));

  setInterval(function () {
    makeTimer();
  }, 1000);
});


  </script>
  
  <script>
    
    function copyCouponCode() {
    /* Get the text field */
    var copyText = document.getElementById("couponCode");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    document.execCommand("copy");

    swal("Copied!", "Copied the coupon code: " + copyText.value, "success");
}

var elements = document.getElementsByClassName('owl-nav');
while(elements.length > 0){
    elements[0].parentNode.removeChild(elements[0]);

}

    </script>

</body>

</html>