



<%- include('../partials/head') %>


  <!-- Header part end-->
  <%- include('../partials/navbar') %>
    <!--================Checkout Area =================-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />



    <section style="background-color: #ffffff; margin-top: 5%;">
      <div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">
                  <%= user.first_name + " " + user.last_name %>
                </h5>
                <div class="d-flex justify-content-center mb-2">

                  <div class="btn-group" role="group" style="gap: 3%;">
                    <a href="/account"><button type="button" style="margin-right: 1%;"
                        class="btn btn-outline-primary btn-edit">Edit Profile</button></a>
                    <button type="button" class="btn btn-outline-primary btn-order">My orders</button>
                    <button type="button" class="btn btn-outline-primary btn-password">Change Password</button>



                  </div>
                </div>
                <div class="d-flex justify-content-center mb-2">
                  <a href="/logout"><button type="button" class="btn btn-outline-dark">logout</button></a>
                </div>
                <button data-toggle="modal" class="btn_3" data-target="#addressModal">CLICK TO ADD NEW ADDRESS</button>
                <% if (messages.info) { %>
                  <div style="margin-top: 2% ;" class="<%= messages.type %>" id="alert">
                    <%= messages.info %>
                  </div>
                  <% } %>
                    <!-- Modal -->
                    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog"
                      aria-labelledby="addressModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="addressModalLabel">Add New Address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form class="row contact_form" action="/addAddress" method="post">
                              <input type="hidden" name="redirect" value="/account">
                              <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="first" name="first_name"
                                  placeholder="First name" required />

                              </div>
                              <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="last" name="last_name"
                                  placeholder="Last name" required />

                              </div>

                              <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="number" name="phone"
                                  placeholder="Phone number" required />

                              </div>


                              <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" name="address1"
                                  placeholder="Address line 01" required />

                              </div>
                              <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add2" name="address2"
                                  placeholder="Address line 02" required />

                              </div>
                              <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="city" name="city" placeholder="Town/City"
                                  required />

                              </div>
                              <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="district" name="district"
                                  placeholder="District" required />

                              </div>
                              <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="state" name="state" placeholder="State"
                                  required />

                              </div>

                              <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="zip" name="pin" placeholder="Postcode/ZIP"
                                  required />
                              </div>

                              <button style="margin-left: auto; margin-right: auto;" class="tp_btn" type="submit">ADD
                                NEW ADDRESS </button>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                          </div>
                        </div>
                      </div>


                    </div>

              </div>
            </div>

          </div>

          <div class="col-lg-8">

  <h2>My Orders</h2>
  <div class="table-responsive">
      <table id="example" class="display" style="width:100%; ">
        <thead>
            <tr style="visibility:hidden">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <% orders.forEach(function(order) { %>
                <tr>
            <td>
            <%= order._id.toString().slice(-4) %>
          </td>
         <td>
            <% if (order.is_delivered) { %>
                <p class="btn btn-success m-2"> Delivered </p>
                <% } else if (order.paymentStatus==='Failed' ) { %>
                <p class="btn btn-danger m-2">Payment failed</p>
                <% } else if (order.user_cancelled) { %>
                <p class="btn btn-danger m-2"> User Cancelled</p>
                <% } else if (order.admin_cancelled) { %>
                <p class="btn btn-danger m-2"> Admin Cancelled</p>
                <% } else if (order.is_returned) { %>
                <p class="btn btn-warning m-2"> Returned</p>
                <% } else { %>
                <p class="btn btn-info m-2">Pending</p>
                <% } %>
         </td>

         
          <td>
            <%="Status: "+order.paymentStatus  %>
          </td>
          <td>
            <%=" ₹"+ order.total %>
          </td>
          <td>
            <select class="form-control" id="status<%= order._id %>">
              <option value="">Status</option>
              <% if(!order.is_delivered && !order.user_cancelled &&
                    !order.admin_cancelled && order.paymentStatus !=='Failed' ) { %>
              <!-- Show the cancel option if the order is not delivered, not cancelled by the user, and payment status is not failed -->
              <option value="User Cancelled">Cancel</option>
              <% } %>
              <% if(order.is_delivered && !order.is_returned ) { %>
              <!-- Show the return option if the order is delivered and not returned -->
              <option value="Returned">Return</option>
              <% } %>
            </select>
          </td>
          <td>
            <% order.items.forEach(function(item) { %>

            <li>
              <%= item.productId.productname +"×"%>
              <%= item.quantity %>
            </li>

            <% }); %>
          </td>
          <td>
            <div style="background-color: azure;">
              <p style="padding: 1%;">
                <% if(order.user.address[order.selectedAddress]) { %>
                <%= order.user.address[order.selectedAddress].first_name %>
                <%= order.user.address[order.selectedAddress].last_name %>,
                <%= order.user.address[order.selectedAddress].address1%><br>
                <%= order.user.address[order.selectedAddress].address2 %>,
                <%= order.user.address[order.selectedAddress].district  %> ,
                <%= order.user.address[order.selectedAddress].state %> ,
                <%= order.user.address[order.selectedAddress].pin %><br>
                <%= order.user.address[order.selectedAddress].phone %>
                <% } else { %>
                Address Unavailable
                <% } %>
              </p>
            </div>
          </td>
          </tr>
        <% }); %>
        </tbody>
      </table>

  </div>
</div>
        </div>
      </div>
    </section>


  
    <script src="/user/js/jquery-1.12.1.min.js"></script>
  
    <script src="/user/js/popper.min.js"></script>

    <script src="/user/js/bootstrap.min.js"></script>

    <script src="/user/js/jquery.magnific-popup.js"></script>

    <script src="/user/js/swiper.min.js"></script>

    <script src="/user/js/masonry.pkgd.js"></script>

    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/jquery.nice-select.min.js"></script>
   
    <script src="/user/js/slick.min.js"></script>
    <script src="/user/js/jquery.counterup.min.js"></script>
    <script src="/user/js/waypoints.min.js"></script>

    <script src="/user/js/jquery.ajaxchimp.min.js"></script>
    <script src="/user/js/jquery.form.js"></script>
    <script src="/user/js/jquery.validate.min.js"></script>
    <script src="/user/js/mail-script.js"></script>
    <script src="/user/js/stellar.js"></script>
  
    <script src="/user/js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    
    <script>
    $(document).ready(function() {
    $('#example').DataTable();
         columnDefs: [{
        orderable: false,
        targets: '_all'
    }]
});


    </script>
    <script>
      window.onload = function () {
        setTimeout(function () {
          var alert = document.getElementById('alert');
          if (alert) alert.remove()
        }, 3000);
      }


    </script>




    </body>

    </html>