<%- include('../partials/head') %>
  <!-- Header part end-->
  <%- include('../partials/navbar') %>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />



 
    <section class="h-100 h-custom" style="background-color: #ffffff; margin-top: 3%;">
      <div class="container py-5 h-100">
      <h1>Your Wallet Balance is:<span style="color: red;"><%= user.wallet %></span> </h1>
      </div>

      <div class="container">
        
      </div>
    </section>
    <section class="h-100 h-custom" style="background-color: #ffffff; margin-top: 3%;">
      
      <div class="container" style="width: 80%;">
        <table id="example" class="display" style="width:100%;">
          <thead>
              <tr>
                  <th class="no-sort" style="text-align:center;">Transaction Id</th>
                  <th class="no-sort" style="text-align:center;">Amount</th>
                  <th class="no-sort" style="text-align:center;">Type</th>
                  <th class="no-sort" style="text-align:center;">Date & Time</th>
              </tr>
          </thead>
          <tbody>
              <% user.transactions.forEach((transaction, index) => { %>
                  <tr>
                      <td style="text-align:center;"><%= transaction._id %></td>
                      <td style="text-align:center; color: <%= transaction.type == 'debit' ? 'red' : 'green' %>;">
                          <%= transaction.type == 'debit' ? '-' : '+' %><%= transaction.amount %>
                      </td>
                      <td style="text-align:center; color: <%= transaction.type == 'debit' ? 'red' : 'green' %>;"><%= transaction.type %></td>
                      <td style="text-align:center;"><%= moment(transaction.date).format('DD.MM.YYYY HH.mm') %></td>
                  </tr>
              <% }) %>   
          </tbody>
      </table>
      
      
        
      </div>
    </section>

    <%- include('../partials/footer') %>



    <script src="/user/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/user/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/user/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/user/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/user/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/user/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/userjs/slick.min.js"></script>
    <script src="/userjs/jquery.counterup.min.js"></script>
    <script src="/userjs/waypoints.min.js"></script>
    <script src="/userjs/contact.js"></script>
    <script src="/userjs/jquery.ajaxchimp.min.js"></script>
    <script src="/userjs/jquery.form.js"></script>
    <script src="/userjs/jquery.validate.min.js"></script>
    <script src="/userjs/mail-script.js"></script>
    <script src="/userjs/stellar.js"></script>
    <script src="/userjs/price_rangs.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/user/js/cartscript.js"></script>

  
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>



<script>
$('#example').DataTable({
    "order": [[ 3, "desc" ]], // Set the initial sorting to the first column in descending order
    "columnDefs": [ {
        "targets"  : 'no-sort',  // Apply the 'no-sort' class to the columns you don't want to sort
        "orderable": false,      // Set 'orderable' to false to disable sorting
    }]
});

</script>
    </body>
   

    </html>